.create_wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.create_wrapper h3 {
  padding: 1rem 0rem;
  font-size: 18px;
  font-family: arial;
  letter-spacing: 1px;
  color: blue;
}
.project_container {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.project_container form {
  width: 320px;
  box-shadow: 0 2px 7px;
  padding: 10px;
  border-radius: 7px;
  height: auto;
}
.mini-cont {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.2rem;
}
.mini-cont label {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0.2rem;
}
.mini-cont input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  outline: 0;
  border: 2px solid burlywood;
  font-size: 18px;
}
.skills-cont input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  outline: 0;
  border: 2px solid burlywood;
  font-size: 18px;
  margin: 0.3rem 0rem;
}
.skills-cont {
  display: flex;
  flex-direction: column;
}
.skills-cont label {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0.2rem;
}
.skills-cont button {
  width: 100%;
  padding: 6px;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  border: 1px solid burlywood;
  cursor: pointer;
}
.submit_btn {
  width: 100%;
  padding: 10px;
  margin: 0.5rem 0rem;
  color: white;
  font-size: 18px;
  cursor: pointer;
  background-color: blue;
  border: none;
  border-radius: 6px;
}
.submit_btn:hover {
  background-color: seagreen;
  transition: 0.4s;
}
